# version: "3.8"

services:
  api:
    build: .
    volumes:
      - .:/app
    working_dir: /app
    container_name: api
    ports:
      - "8000:8000"
    env_file:
      - .env
    depends_on:
      - postgres
    restart: unless-stopped

  postgres:
    image: postgres:16
    container_name: postgres
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: fastapi_ai
    ports:
      - "5432:5432"   # optional, useful for pgAdmin / psql from host
    volumes:
      - postgres_data:/var/lib/postgresql/data
    restart: unless-stopped

volumes:
  postgres_data: